.bg{
    background: url("../img/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*#content{
    height: 1000px;
}*/

#autor{
    width: 600px;
    height: 800px;
    
    /* centraliza o iframe */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title{
    padding-left: 10px;
}

/*.white-text{*/
/*    color: white;*/
/*}*/